<ion-view view-title="Empty"> 
	<ion-content data-content="true" data-replace="false">
	     <div class="component-holder ng-binding ng-scope" data-component="crn-google-maps" id="crn-google-maps-544234">
	            <label class="item item-input component-holder" data-component="crn-input" id="inputSaida">
	                <input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input5580" mask="">
	            </label>
	            <label class="item item-input component-holder" data-component="crn-input" id="inputDestino">
	                <input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input7349" mask="">
	            </label>
	            <br><br>
	            <button class="btn btn-default component-holder" type="submit" ng-click="blockly.js.blockly.APIGoogleMaps.GeraRota()" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" data-component="crn-button" id="crn-button-85602"><i class="glyphicon glyphicon-home"></i> <span>Rota</span></button>
	           <br><br>
                    <div id="map5590" token="AIzaSyBRR3MS1e3jOiprjsgWCrrGezZfHE4pY3U" ng-init="blockly.js.blockly.APIGoogleMaps.Executar()" style="width:420px;height:600px;"></div>
                </div>
    </ion-content>
</ion-view>